/**
 * Modal Styles
 */
.modal-header {
  position: relative;

  .btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
