/**
 * Nav Styles
 */
.nav {
  .nav {
    > li > a {
      padding-left: 30px;
    }

    .nav {
      > li > a {
        padding-left: 45px;
      }
    }
  }
}

.dropdown-menu {
  .nav {
    > li > a {
      padding-top: 3px;
      padding-bottom: 3px;
      color: #333;
      text-shadow: none;
    }
  }
}