/**
 * Typography
 */

/**
 * Scroll Top link
 */
.scroll-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  @include transition(all ease-in .2s);
  opacity: 1;
  @include backface-visibility(hidden);
}

/**
 * Forms
 */
form > br + .form-group {
  margin-top: 15px;
}

/**
 * Description Lists
 */
.article-details {
  margin: 0;
  padding: 1px 5px;
  width: 90%;

  > dd {
    display: inline-block;

    + dd:before {
      padding: 0 3px;
      color: #333;
      content: "|";
    }
  }
}

/**
 * Joomla Components
 */
.tags > a {
  margin-right: 5px;
}

figure,
img {
  &.pull-left + p {
    margin-right: 10px;
  }

  &.pull-right + p {
    margin-left: 10px;
  }
}

p {
  > img {
    &.pull-left {
      margin-right: 10px;
    }

    &.pull-right {
      margin-left: 10px;
    }
  }
}

.blog-featured,
.blog,
.article {
  margin-bottom: 20px;

  article aside {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
  }
}

.readmore {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #eee;

  a {
    &:before {
      content: "";
      width: 0;
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      height: 2px;
      background: #08c;
      -webkit-transition: .2s;
           -o-transition: .2s;
              transition: .2s;
    }
  }
}
