// Navbar Sizes
@mixin navbar-size($padding-vertical, $padding-horizontal, $font-size, $height, $line-height, $margin-bottom) {
  font-size: $font-size;
  min-height: $height;
  margin-bottom: $margin-bottom;

  .navbar-brand {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size + 3px;
    font-weight: bold;
    height: $height;

    @media (min-width: $grid-float-breakpoint) {
      .navbar > .container &,
      .navbar > .container-fluid & {
        margin-left: -$padding-horizontal;
      }
    }
  }

  .navbar-nav {
    > li > a {
      padding: $padding-vertical $padding-horizontal;
    }
  }

  .navbar-form {
    margin-top: $margin-bottom;
    margin-bottom: $margin-bottom;

    .form-control {
      font-size: $font-size;
      height: $height;
    }

    .btn {
      font-size: $font-size;
      padding: $padding-vertical $padding-horizontal;
      line-height: $line-height;
    }
  }
}
